<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>Production Parameter:</b>
  <%= @production_parameter.product_id %>
</p>

<p>
  <b>Production Cost:</b>
  <%= @production_parameter.production_cost %>
</p>

<p>
  <b>Setup Cost:</b>
  <%= @production_parameter.setup_cost %>
</p>

<p>
  <b>Setup Time:</b>
  <%= @production_parameter.setup_time %>
</p>

<p>
  <b>Holding Cost:</b>
  <%= @production_parameter.holding_cost %>
</p>


<%= link_to 'Back', production_parameter_path %>