<div class="row">
  <div class="span6 offset3">
    <%= form_for(@period) do |f| %>
        <% if @period.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@period.errors.count, "error") %> prohibited this site from being saved:</h2>

              <ul>
                <% @period.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label 'Period' %><br />
          <%= f.text_field :number %>
        </div>
        <div class="field">
          <%= f.label 'Production Capacity' %><br />
          <%= f.text_field :capacity %>
        </div>
        <div class="field">
          <%= f.label 'Remanufacturing Capacity' %><br />
          <%= f.text_field :remanufacturing_capacity %>
        </div>
          <div class="actions">
            <%= f.submit 'Save Period' %>
          </div>
    <% end %>
    </div>
  </div>