<div class="row">
  <div class="span6 offset3">
    <%= form_for(@product) do |f| %>
        <% if @product.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@product.errors.count, "error") %> prohibited this site from being saved:</h2>

              <ul>
                <% @product.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label 'Product Name' %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label 'Product Family' %><br />
          <%= f.text_field :product_family %>
        </div>
        <div class="actions">
          <%= f.submit 'Save Product' %>
        </div>
    <% end %>
  </div>
</div>